@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

.bg-main {
  background: linear-gradient(180deg, rgba(0, 133, 255, 0) 0%, rgba(202, 11, 250, 0.2) 64.35%), #111111;
}
